<row>
<div class='col-xs-6'>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>


<div class='col-xs-4 jumbotron right-show'>
	<h2>Welcome To Moospace.co!</h2>
	<h2>Your Index for finding local farmers and being found!</h2>
	<br>
	<ol>
		<li>If you are just browsing, go to step 2!
			If you are selling, hit the home button to set up your profile!
			Add products and contact information to make yourself available to your customers</li>
		<li>Hit a button to view a list of farmers in your area for a specific product</li>
		<li>Drag a collection of farmers down to the dock at the bottom for later reference</li>
		<li>When your done gathering farmers, click the link on the farmer thumbnail to travel to 
			each farmers personal page and explore their inventory and contact information!
	</ol>
	<h3>Thats it! Have Fun, make friends, eat well!</h3>
			
	</div>