<ul class='nav nav-pills favorite-farmers connected-lists'>
  <% farmer.favorite_farmers().each(function(favFarmer){ %>
    <li>
      <div class='farmer-thumbnail' data-id='<%= favFarmer.id %>'>
        <div class='thumbnail-product'>
        <%=favFarmer.escape('product_favorited') %>
        </div>
        <div class='thumbnail-fname' data-id='<%=favFarmer.id%>'>
          <a href="#/farmers/<%= favFarmer.escape('farmer_name') %>"><%=favFarmer.escape('farmer_name')%></a>
        </div>
        <div class='delete-button'>HOWDY</div>
      </div>
    </li>
  <% })%>

</ul>
