<div class='favorite-farmers connected-lists'>
  <% farmer.favorite_farmers().each(function(favFarmer){ %>

      <div class='farmer-thumbnail' data-id='<%= favFarmer.id %>'>
        <div class="<%='thumbnail-product ' + favFarmer.escape('product_favorited') %>">
        <%=favFarmer.escape('product_favorited') %>
        </div>
        <div class='thumbnail-personal'>
          <div class='thumbnail-fname' data-id='<%=favFarmer.id%>'>
            <a href="#/farmers/<%= favFarmer.escape('farmer_name') %>"><%=favFarmer.escape('farmer_name')%>
          </div>
          <div class='thumbnail-image-container'>
            <img class='thumbnail-image' src='<%=favFarmer.get('filepicker_url')%>'></a>
          </div>
        </div>
      </div>

  <% })%>

</div>
