<div class='favorite-farmers connected-lists'>
<div class='faves-label'><p>drag favorite farmers here</div>
  <% farmer.favorite_farmers().each(function(favFarmer){ %>

      <div class='farmer-thumbnail' 
	  data-name='<%= favFarmer.escape('farmer_name') %>'
	  data-id='<%= favFarmer.id %>'>
        <div class="<%='thumbnail-product ' + favFarmer.escape('product_favorited') %>">
        <%=favFarmer.escape('farmer_name') %>
        </div>

        <div class='thumbnail-personal'>
          <div class='thumbnail-fname' data-id='<%=favFarmer.id%>'>
            <a href="#/farmers/<%= favFarmer.escape('farmer_name') %>"><%=favFarmer.escape('farmer_name')%> </a>
          </div>

          <div class='thumbnail-image-container'>
             <% if(!favFarmer.get('filepicker_url')) { %>
                <div class='placeholder thumbnail-image'></div>
            <% } else { %>
                 <img class='thumbnail-image' src='<%=favFarmer.get('filepicker_url')%>'>
             <% } %>
          </div>
        </div>
      </div>
  <% })%>

</div>
