<row>
  <div class='col-xs-6'>
<h1 class='name-head'><%= farmer.escape('name') %></h1>

<%= farmer.escape('bio') %>
<ul>PRODUCT TYPES
<% farmer.product_types().each(function(pt){ %>
  <li><%=pt.escape('name') %>
  <ul class='product-list'>SPECIFIC PRODUCTS
    <% farmer.products().each(function(product){ %>
      <% if ( product.get('product_type_id') === pt.get('id') ){ %>
      <li>
        <button class="show-product btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-id="<%=product.id%>">
          <%=product.escape('variety')%>
        </button>
      </li>
      <%}%>
    <% }) %>
  </ul>
  <% })%>
</ul>
<br>
<!-- Button trigger modal -->
<button class="add-product btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  ADD A PRODUCT
</button>

<button class="edit-profile btn btn-primary btn-lg"  data-toggle="modal" data-target="#myModal" >
  EDIT PROFILE
</button>
</div>
  <div class='col-xs-6'>
    <div class='picture-spot'>
      <img class='picture' src="<%=farmer.escape('filepicker_url')%>">
    </div>
  </div>
</row>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Product Information</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
