<h1><%= farmer.escape('name') %></h1>

<%= farmer.escape('bio') %>
<ul>PRODUCT TYPES
<% farmer.product_types().each(function(pt){ %>
  <ul><%=pt.escape('name') %>
    <li>
      <ul class='product-list' >
        <% farmer.products().each(function(product){ %>
          <% if ( product.get('product_type_id') === pt.get('id') ){ %>
              <button class="show-product btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-id="<%=product.id%>">
                <%=product.escape('variety')%>
              </button>
          <%}%>
        <% }) %>
      </ul>
    </li>
  </ul>
  <br>
  <% })%>
</ul>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>