
<div class='container-fluid'>
<div class='row'>
  <div class='col-md-6 left-show'>
    <div class='jumbotron'>
    <h1><%= farmer.escape('name') %></h1>

      <div class='picture-spot'>
       <% if(!farmer.get('filepicker_url')) { %>
          <div class='placeholder picture pull-right img-circle'></div>
      <% } else { %>
         <img src="<%=farmer.get('filepicker_url')%>" class='avatar pull-right img-circle'>
       <% } %>
      </div>

    </div>
    <h2>About Us</h2>
    <p><%= farmer.escape('bio') %></p>
    <h1>

      <ul>
        <h1>Products</h1>
        <% farmer.product_types().each(function(pt){ %>
          <div class='<%=pt.escape('name')%>'><h2><%=pt.escape('name') %></h2>
            <li>
              <ul class='product-list' >
                <% farmer.products().each(function(product){ %>
                  <% if ( product.get('product_type_id') === pt.get('id') ){ %>
                      <button class="show-product btn btn-primary btn-lg"
                          data-toggle="modal" data-target="#myModal"
                          data-id="<%=product.id%>">
                        <%=product.escape('variety')%>
                      </button>
                  <%}%>
                <% }) %>
              </ul>
            </li>
          </div>
          <br>
        <% })%>
      </ul>
  </div>
  <div class='col-md-6 location-dashboard'>

      <div class='contact-info-container right-show'>
            <div class='jumbotron'>

              <button class='btn btn-success add-map'>VISIT US</button>
              <div id="map-canvas" class='pull-right'>

              </div>


              <h1>Contact Us!</h1>
              <div class='contact-info'>
                <h2>
                <div class='phone-number'><%=farmer.escape('phone_number')%></div><br>
                <div class='contact-email'><%=farmer.escape('contact_email')%></div><br>
                <div class='street-address'> <%=farmer.escape('street_number')+" "+farmer.escape('route')%></div><br>
                <div class='city'><%=farmer.escape('city')%></div><br>
                <div class='state'><%=farmer.escape('state')%></div><br>
                <div class='postal-code'><%=farmer.escape('postal_code')%></div><br>
                </h2>
              </div>




      </div>
    </div>
    <br>
  </div>
</div>


</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
