<h2 class='market-title'><%= market.escape('marketname')%></h2>
<div class="market-address">
	<%= market.escape("street") %><br>
	<%= market.escape("city") + ", " + market.escape("state") + " " + market.escape('zip') %><br>
	<%= market.escape("county") %> County<br>
	<a href="<%= market.escape("website") %>">
		<%= market.escape("website") %>
	</a>
</div>
<br>

<div class="market-products">
	<span>_____SEASONS_____</span><br>
  <%= market.escape("season1date") %><br>
  <%= market.escape("season1time") %><br>
  <%= market.escape("season2date") %><br>
  <%= market.escape("season2time") %><br>
</div>
<br>

<div class="market-products">
<span>_____PRODUCTS_____</span><br>
  <% var cizzy = 0 %>
	<% productTypes.forEach(function(key){ %>
		<% if ( market.escape(key) === "Y") { %>
		 <span><%= key %></span>
		 <% cizzy +=  1 %>
		<% } %>
		<% if( cizzy%5 === 0){ %>
			<br>
		<% } %>
	<% }) %>
</div><br>

<div class="market-products">
<span>_____ACCEPTED PAYMENT_____</span><br>
<% paymentTypes.forEach(function(key){ %>
  <% if ( market.escape(key) ){ %>
	<%= key %>
	<% } %>
<% }) %>
</div>

