
<div id="<%=pt.escape('name')%>" class='<%=pt.escape('name')+"-farmers"%>'>
  <div class="connected-lists">

    <% ptFarmers.each(function(farmer){ %>
		<div class='thumbnail-tab' data-name='<%=farmer.escape('name')%>'>
	       <div class='farmer-thumbnail' data-id='<%= farmer.id %>'>

	        <div class="<%='thumbnail-product ' + pt.escape('name') %>">
		        <%=pt.escape('name') %>
	        </div>

	          <div class='thumbnail-personal'>

	            <div class='thumbnail-fname hidden' data-id='<%=farmer.id%>'>
	              <a href="#/farmers/<%=
								farmer.escape('name')%>"><%=farmer.escape('name')%></a>
	            </div>

	             <div class='thumbnail-image-container'>
	                <% if(!farmer.get('filepicker_url')) { %>
	                   <div class='placeholder thumbnail-image'></div>
	               <% } else { %>
		            <img class='thumbnail-image'
							 		src='<%=farmer.get('filepicker_url')%>'>
	               <% } %>
	             </div>

	          </div>

	       </div>
		   <%=farmer.escape('name')%>
	    </div>
    <% })%>
  </div>

  <button class="leaveMarket btn btn-warning"
    data-id='<%=pt.escape('name')+"-farmers"%>'>LEAVE THIS MARKET</button>


