
<div id="<%=pt.escape('name')%>" class='<%=pt.escape('name')+"-farmers"%>'>
  <div class="connected-lists">

    <% ptFarmers.each(function(farmer){ %>

	       <div class='farmer-thumbnail'
		   data-name='<%=farmer.escape('name')%>'
		   data-id='<%= farmer.id %>'>

	        <div class="<%='thumbnail-product ' + pt.escape('name') %>">
		          <%=farmer.escape('name')%>
	        </div>

	          <div class='thumbnail-personal'>

	            <div class='thumbnail-fname hidden' data-id='<%=farmer.id%>'>
	              <a href="#/farmers/<%=farmer.escape('name')%>">
					<%=farmer.escape('name')%>
				  </a>
	            </div>

	             <div class='thumbnail-image-container'>
	                <% if(!farmer.get('filepicker_url')) { %>
	                   <div class='placeholder thumbnail-image'>
					   </div>
	               <% } else { %>
		            <img class='thumbnail-image'
					  src='<%=farmer.get('filepicker_url')%>'>
					</img>
	               <% } %>
	             </div>

	          </div>

	       </div>
		

    <% })%>
  </div>
</div>



