<div class='<%=pt.escape('name')+"-farmers"%>'>
  <div class="connected-lists">
    <% ptFarmers.each(function(farmer){ %>
    <div>
      <div class='farmer-thumbnail' data-id='<%= farmer.id %>'>
        <div class="<%='thumbnail-product ' + pt.escape('name') %>">
        <%=pt.escape('name') %>
        </div>
          <div class='thumbnail-personal'>
            <div class='thumbnail-fname' data-id='<%=farmer.id%>'>
              <a href="#/farmers/<%= farmer.escape('name') %>"><%=farmer.escape('name')%>
                </div>

             <div class='thumbnail-image-container'>
                <% if(!farmer.get('filepicker_url')) { %>
                   <div class='placeholder thumbnail-image'></div>
               <% } else { %>
                    <img class='thumbnail-image' src='<%=farmer.get('filepicker_url')%>'></a>
                <% } %>
             </div>

          </div>
        </div>
      </div>
    <% })%>
    END OF ENTRIES
  </div>

  <h1> FARMERS FOR <%= pt.escape('name') %> </h1>
  <button class="leaveMarket" data-id='<%=pt.escape('name')+"-farmers"%>'>LEAVE THIS MARKET</button>
</div>