<h1> FARMERS FOR <%= pt.escape('name') %> </h1>
<button class="leaveMarket">LEAVE THIS MARKET</button>
<div class="connected-lists">
  <% ptFarmers.each(function(farmer){ %>
      <div class='farmer-thumbnail'>
         <div class="<%='thumbnail-product ' + pt.escape('name') %>">
        <%=pt.escape('name') %>
        </div>
        <div class='thumbnail-fname'  data-id='<%=farmer.id%>'>
          <a href="#farmers/<%= farmer.id %>"><%= farmer.escape('name') %></a>
        </div>
      </div>
  <% })%>
</ul>