<!DOCTYPE html>
<html>
<head>
  <title>Moospace | Online Farmer's Market</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	<script> window.maps_api_key = ''</script>
  <%= filepicker_js_include_tag %>
  <script>$(window).load(filepicker.setKey("<%=ENV["FILEPICKER_API_KEY"]%>"))
  </script>
</head>
<body data-spy="scroll" data-target=".pt-area">
  <nav class='navbar main-nav affix-top'>
      <ul class="nav nav-pills nav-justified">
        <li class='nav-item'>
          <a href='#about' class='title'>About Moospace</a>
        </li>
        <% if !farmer_signed_in? %>
          <li>
          <%= link_to('SIGN UP', new_farmer_registration_path)  %>
          </li>
        <% end %>
        <li class='nav-item'>
          <a href="#">PRODUCTS</a>
        </li>
        <li class='nav-item'>
          <a href="#home">HOME</a>
        </li>
        <li class='nav-item'>
          <a href="#mrktsIndex">MARKET INDEX</a>
        </li>
        <li class='nav-item'>
          <a class="dropdown-toggle" data-toggle="dropdown">Fresh Feed<b class="caret"></b></a>
              <ul class="dropdown-menu">
              </ul>
        </li>
        <% if farmer_signed_in? %>
          <li>
          <%= link_to('LOGOUT', destroy_farmer_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
          <%= link_to('LOGIN', new_farmer_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  
  <div class='background-img'></div>
  <div id='content' class='main-backdrop'>
  <%= yield %>
  </div>
	
  <nav class='navbar navbar-fixed-bottom favorites-bar'></nav>
</body>
</html>