<!DOCTYPE html>
<html>
<head>
  <title>Market</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

  <script> window.maps_api_key = '<%= ENV['MAPS_API_KEY'] %>'</script>


  <%= filepicker_js_include_tag %>

    <script> filepicker.setKey("AbCIsBwERPKXAOYlEHstAz")</script>
</head>
<body>
  <nav class='navbar main-nav'>
      <ul class="nav nav-pills nav-justified">
        <li class='nav-item'>
          <span class='title'>Marketplace</span>
        </li>

        <% if !farmer_signed_in? %>
          <li>
          <%= link_to('SIGN UP', new_farmer_registration_path)  %>
          </li>
        <% end %>

        <li class='nav-item'>
          <a href="#">INDEX</a>
        </li>
        <li class='nav-item'>
          <a href="#home">HOME</a>
        </li>
        <li class='nav-item'>
          <a href='#editFarmer'>EDIT FARMER</a>
          <!-- get this into account dropdown? -->
        </li>
        <li class='nav-item'>
          <a href='#addProducts'>MY PRODUCTS</a>
        </li>
        <% if farmer_signed_in? %>
          <li>
          <%= link_to('LOGOUT', destroy_farmer_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
          <%= link_to('LOGIN', new_farmer_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
<div id='content' class='main-backdrop'>
<%= yield %>
</div>



<nav class='navbar navbar-fixed-bottom favorites-bar'>


</nav>
</body>
</html>
